##theory *question*

question 1. What are data structures, and why are they important?

   ans : Data structures in Python are specialized formats or containers used to store and organize data efficiently.They provide various ways to store, access, and manipulate data according to specific needs.

   Importance:



*   Makes data handling fast and easy.
*   Improves performance (speed & memory).
*   Helps solve complex problems (trees, graphs, etc.).
*   Forms the base of algorithms and programming.

Examples: Array, Stack, dictionaries, tuple, List.

question 2. Explain the difference between mutable and immutable data types with examples.

  ans: **Mutable Data Types**

*   Can be changed/modified after creation.
*   Elements inside them can be updated, added, or removed.

Examples: list, set, dict.

In [ ]:
list = [1,2,3,4,5]
list[0] = 10
print(list)

[10, 2, 3, 4, 5]

**Immutable Data Types**


*   Cannot be changed once created.
*   Any modification creates a new object.

Examples: int, float, string, tuple.

In [ ]:
a_string = "hello"
a_string[0] = "H"

#this will throw an arror , because string is immutable.

TypeError: 'str' object does not support item assignment

#question 3. What are the main differences between lists and tuples in Python?

  ans: "Lists" in Python are mutable, meaning their elements can be changed after creation. They are written using square brackets [ ] and support many operations like adding, removing, or modifying elements.

"Tuples" in Python are immutable, meaning their elements cannot be changed once created. They are written using parentheses ( ) and have fewer operations compared to lists.

Lists are slower but more flexible, while tuples are faster and used when data should remain constant.

#question 4. Describe how dictionaries store data.

  ans: A dictionary in Python stores data in the form of key–value pairs. Each value is accessed using its unique key, not by position (like lists or tuples).

Keys: Must be unique and immutable (e.g., string, number, tuple).

Values: Can be of any data type and can be duplicated.

In [ ]:
#example:

student = {"name": "Ekta", "age": 25, "course": "PW skills"}

#if you search for "name" it will immediately jumps to the value "Ekta"
print(student["name"])

Ekta

#question 5. Why might you use a set instead of a list in Python?

  ans:
  1.  A set is an unordered collection that does not allow duplicate values, while a list allows duplicates.

  2. Sets are faster for operations like checking membership (in) because they use hashing internally.

  3. Use a set when you need to store unique items and perform fast lookups, unions, intersections, or differences.

  4. Use a list when you care about order or need duplicates.

#question 6.  What is a string in Python, and how is it different from a list?

  ans : A string is a sequence of characters enclosed in quotes (' ' or " "). It is used to store text data.
Example: "Hello", 'Ekta'.

**Difference between String and List**

String

1. Sequence of characters.

2. Immutable → cannot be changed after creation.

3. Written inside quotes (" " or ' ').

Example: "hello".

List

1. Sequence of elements (numbers, strings, objects, etc.).

2. Mutable → elements can be added, removed, or modified.

3. Written inside square brackets [ ].

Example: [1, 2, "Ram"].

#question 7. How do tuples ensure data integrity in Python?

  ans. Tuples in Python are immutable, meaning their data cannot be changed once created. This ensures data integrity by preventing accidental modifications, making them reliable for storing constant values.

#question 8. What is a hash table, and how does it relate to dictionaries in Python?

  ans. A hash table is a data structure that stores data in key–value pairs. It uses a hash function to convert each key into an index in memory, allowing very fast access, insertion, and deletion (usually O(1) time).

In Python, dictionaries are implemented using hash tables. Each dictionary key is hashed and mapped to a memory location where its value is stored. This makes dictionary lookups and updates much faster than searching in lists. Only immutable objects (like strings, numbers, or tuples) can be used as dictionary keys because they must always produce the same hash value.

#question 9. Can lists contain different data types in Python?

  ans. In Python, lists can contain different data types. A single list can hold integers, floats, strings, objects, or even other lists. This is because Python lists are heterogeneous collections.

In [ ]:
#Example:
my_list = [10, "Ekta", 3.14, True, [1, 2, 3]]

#question 10.  Explain why strings are immutable in Python?

  ans. Strings in Python are immutable, meaning they cannot be changed after creation. This ensures data safety, allows consistent hashing (so strings can be used as dictionary keys), and improves performance by enabling memory optimization.

#question 11. What advantages do dictionaries offer over lists for certain tasks?

  ans. Dictionaries are faster than lists for lookups because they use hashing. They store data as key–value pairs, making access easier and more meaningful than using numeric indexes.

#question 12. Describe a scenario where using a tuple would be preferable over a list.

  ans. A tuple is preferable when data should remain constant and not be modified, such as storing days of the week, geographical coordinates, or using keys in a dictionary. Its immutability ensures data integrity.

#question 13. How do sets handle duplicate values in Python?

  ans. Sets in Python automatically remove duplicates because they only store unique elements. If a duplicate is added, it is ignored.

In [ ]:
#example

my_set = {1, 2, 2, 3}

print(my_set)

{1, 2, 3}

#question 14. How does the “in” keyword work differently for lists and dictionaries?

  ans. For lists, "in" checks if an element exists in the list.

For dictionaries, "in" checks if a key exists (not the value).

In [ ]:
#example for list

my_list = [1, 2, 3]
print(2 in my_list)

#output will be "true", as 2 is present in  the list.

True

In [ ]:
#example for dictionaries

my_dict = {"name": "Ekta", "age": 22}
print("name" in my_dict)   # True
print("Ekta" in my_dict)   # False (values are not checked by default)

True
False

#question 15. Can you modify the elements of a tuple? Explain why or why not?

  ans. No, you cannot modify the elements of a tuple once it is created.because of the following reason:

1. Tuples are immutable → which means their contents cannot be changed, added, or removed.

2. This immutability ensures data integrity (values stay fixed) and allows    tuples to be used as dictionary keys or elements of sets.

3. If modification is needed, you must first convert the tuple into a list, make the changes, and then convert it back into a tuple.

#question 16. What is a nested dictionary, and give an example of its use case?

  ans. A nested dictionary is a dictionary inside another dictionary, useful for storing structured data like student records, employee details, or JSON data.

In [ ]:
company = {
    "HR": {"manager": "Ekta", "employees": 25},
    "IT": {"manager": "Rahul", "employees": 40}
}

print(company)

{'HR': {'manager': 'Ekta', 'employees': 25}, 'IT': {'manager': 'Rahul', 'employees': 40}}

#question 17.  Describe the time complexity of accessing elements in a dictionary?

  ans. Accessing elements in a dictionary takes O(1) time on average because it uses hashing to find keys directly. In rare cases of hash collisions, it may degrade to O(n), but this is uncommon.

#question 18. In what situations are lists preferred over dictionaries?

  ans.  Lists are preferred when data needs to be ordered, accessed by index, or when duplicates are allowed. They are useful for simple sequences of items where key–value mapping is not required.

#question 19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  ans. Dictionaries are considered unordered because they store elements based on the hash of their keys, not the order of insertion (before Python 3.7). This means items cannot be accessed by index like in lists. Instead, values are retrieved using their unique keys. While order is not guaranteed, retrieval is very fast (O(1)) due to hashing.

#question 20.  Explain the difference between a list and a dictionary in terms of data retrieval.

  ans. In lists, data is retrieved by index, which can be slower if you don’t know the position. In dictionaries, data is retrieved by keys using hashing, making lookups faster and more efficient.

#practical question

In [ ]:
#question 1

name = "Ekta"
print("my name is:", name)

my name is: Ekta

In [ ]:
#question 2

a = "Hello World"

len(a)

11

In [ ]:
#question 3

text =  "Python Programming"

first_three_characters = text[:3]

print(" first 3 characters :" ,first_three_characters)

 first 3 characters : Pyt

In [ ]:
#question 4

#original string

text = "hello world"

text.upper()

'HELLO WORLD'

In [ ]:
#question 5

#original string

sen = "i like apple"

# replacement
sen.replace("apple", "orange")

'i like orange'

In [ ]:
#question 6
numbers = [1, 2, 3, 4, 5]

# Printing the list
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

In [ ]:
#question 7

list =  [1, 2, 3, 4]

list.append(10)

print(list)

[1, 2, 3, 4, 10]

In [ ]:
#question 8

list =  [1, 2, 3, 4, 5]

list.remove(3)

print(list)

[1, 2, 4, 5]

In [ ]:
#question 9
list =  ['a', 'b', 'c', 'd']

second_element =  list[1]

print("The second element is:", second_element)

The second element is: b

In [ ]:
#question 10

list =  [10, 20, 30, 40, 50]

list.reverse()

print(list)

[50, 40, 30, 20, 10]

In [1]:
#question 11

numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [2]:
#question 12

colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [3]:
#question 13

nums = (10, 20, 5, 15)
print(min(nums))

5

In [4]:
#queation 14

animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [5]:
#question 15

fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [6]:
#question 16

letters = {'a', 'b', 'c'}
print(letters)

{'c', 'a', 'b'}

In [7]:
#question 17

s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [8]:
#question 18

s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [9]:
#question 19

a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))  # {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [10]:
#question 20

a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [11]:
#question 21

person = {"name": "John", "age": 25, "city": "London"}
print(person)

{'name': 'John', 'age': 25, 'city': 'London'}

In [12]:
#question 22

person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [13]:
#question 23

person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [14]:
#question 24

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

In [15]:
#question 25

person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [16]:
#question 26

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 10, "b": 20}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 10, 'b': 20}

In [17]:
#question 27

import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[2, 31, 51, 97, 99]

In [18]:
#question 28

words = ["apple", "banana", "cherry", "date", "mango"]
print(words[3])

date

In [19]:
#question 29

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [20]:
#question 30

words = ["apple", "banana", "apple", "cherry"]
unique_words = set(words)
print(unique_words)  # {'apple', 'banana', 'cherry'}

{'banana', 'cherry', 'apple'}